.form.profile
  = form_for(@message) do |f|
    .control-group
      %label.control-label{:for => "message[recipient_id]"} To
      .controls
        = text_field_tag :recipient, @message.recipient.try(:name), :class => "input-large", disabled: true
        = f.hidden_field :recipient_id, value: @message.recipient.try(:id)
    .control-group
      %label.control-label{:for => "message[subject]"} Subject
      .controls
        = f.text_field :subject, :class => "input-large"
    .control-group
      .controls
        = f.text_area :body, :class => "input-large tinymce"
    .form-actions
      = f.submit "Send", class: "btn btn-success"
      %a.btn{:type => "reset"} Reset
