<% provide(:title, "Edit Profile") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Profile
          <span class="page-meta">Edit your personal settings. Store settings are edited through your store front.</span>
        </h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to("Edit Profile", edit_user_registration_path, :class => "bread-current") %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left">Edit Your Profile</div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    <% if devise_error_messages!.present? %>
                      <div class="alert alert-error">
                        <%= devise_error_messages! %>
                      </div>
                    <% end %>
                      <div class="form profile">
                        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                            <%= render partial: "form", locals: {f: f} %>
                            <div class="control-group">
                              <label class="control-label" for="user[username]">Username</label>
                              <div class="controls">
                                <%= f.text_field :username, :class => "input-large" %>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="user[password]">New Password</label>
                              <div class="controls">
                                <%= f.password_field :password, :class => "input-large" %>
                                <span class="help-inline">Leave blank if you don't want to change it</span>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="user[password]">Retype Password</label>
                              <div class="controls">
                                <%= f.password_field :password_confirmation, :class => "input-large" %>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="user[password]">Current Password</label>
                              <div class="controls">
                                <%= f.password_field :current_password, :class => "input-large" %>
                                <span class="help-inline">We need your current password to confirm your changes</span>
                              </div>
                            </div>
                            <div class="form-actions">
                               <%= f.submit "Update Profile", class: "btn btn-success" %>
                              <button type="reset" class="btn">Reset</button>
                            </div>
                          <% end %>
                      </div>
                  </div>
                </div>
                <div class="widget-foot">
                  <h5>Cancel my account</h5>
                  <p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
   <%= render 'shared/footer' %>
</div>
