<% provide(:title, "Search") %>
<div class="content">
  <!-- Sidebar -->
  <%= render "shared/sidebar" %>
  <!-- Sidebar ends -->
    <div class="mainbar">
      
      <!-- Page heading -->
      <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left">Search</h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span>
          <%= link_to "Search", search_index_path %>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">
          <% @catalog_items.in_groups_of(4, false) do |row| %>
            <div class="row-fluid">
              <% row.each do |catalog_item| %>
                <div class="span3">
                  <div class="widget wlightblue">
                    <div class="widget-head">
                      <h6><%= catalog_item.name %></h6>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <%= image_tag catalog_item.image.url(:medium), :class => 'catalog-img' %>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-foot">
                      <p class="pull-left"><%= catalog_item.number %></p>
                      <%= link_to "View", catalog_item_path(catalog_item), :class => 'btn pull-right btn-danger' %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
                        
          <div class="widget-foot">
            <%= will_paginate @catalog_items, :class => 'pagination pull-right' %>
            <div class="clearfix"></div> 
          </div>

        </div>
      </div>

    <!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->        
   <div class="clearfix"></div>

</div>
<!-- Content ends -->