.modal.hide.fade.in#addToInventory{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "inventory-header", "aria-hidden" => "false"}
  .modal-header
    %button.close{:type => "button", :"data-dismiss" => "modal", "aria-hidden" => "true"} ×
    %h3#inventory-header Add Part To Store Inventory
  - if current_user.try(:store).present?
    = form_for(@store_inventory_part, :url => add_part_to_inventory_path(current_user.store, @catalog_part)) do |f|
      .modal-body
        .control-group
          %label.control-label{:for => "quantity"} Quantity
          .controls
            = f.text_field :quantity, :class => "input-large"
        .control-group
          %label.control-label{:for => "price"} Price
          .controls
            = f.text_field :price, :class => "input-large", :placeholder => "USD"
        .control-group
          %label.control-label{:for => "condition"} Condition
          .controls
            = f.select(:condition, options_for_select(StoreInventoryPart::CONDITIONS, "New"))
        .control-group
          %label.control-label{:for => "comment"} Comment
          .controls
            = f.text_area :comment, :class => "input-large"
      .modal-footer
        = link_to "Advanced Form", root_url, :class => "btn btn-success pull-left"
        %button.btn{:"data-dismiss" => "modal", "aria-hidden" => "true"} Close
        %button.btn.btn-primary{:type => "submit"} Add to Inventory
  - else
    .modal-body
      You must create a store to sell parts. It's quick, easy, and free.
    .modal-footer
      = link_to new_store_path, :class => "btn btn-success" do
        %i.icon-plus-sign
        Create a Store
