<% provide(:title, "Catalog") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Catalog</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Catalog", catalog_index_path %>
          <span class="divider">/</span>
          <%= link_to "Catalog Parts", catalog_parts_path %>
          <span class="divider">/</span>
          <%= link_to @catalog_part.number, catalog_part_path(@catalog_part) %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <%= render "shared/flash" %>
            <div class="row-fluid">
                <div class="span8">
                  <div class="widget wlightblue">
                    <div class="widget-head">
                      <div class="pull-left"><%= @catalog_part.name %></div>
                      <div class="pull-right"><%= @catalog_part.number %></div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <div class="row-fluid">
                        <div class="span4">
                          <%= image_tag @catalog_part.image.url(:large), :class => 'catalog-img' %>
                        </div>
                        <div class="span8">
                          <ul class="activity">
                            <li>
                              <strong>This part appears in the following sets:</strong>
                            </li>
                            <% @catalog_part.in_sets.each do |set| %>
                              <li>
                                <div class="row-fluid">
                                  <div class="span3">
                                    <%= link_to catalog_set_path(set) do %>
                                      <%= image_tag set.image.url(:thumb), :class => 'catalog-img' %>
                                    <% end %>
                                  </div>
                                  <div class="span5">
                                    <%= link_to catalog_set_path(set) do %>
                                      <%= set.number %><br/>
                                      <%= set.name %>
                                    <% end %>
                                  </div>
                                  <div class="span4">
                                    <%= link_to "View Inventory".html_safe, inventory_catalog_set_path(set), :class => 'btn btn-danger pull-right' %>
                                  </div>
                                </div>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="span4">
                  <%= render "catalog_parts/part_info" %>
                  <%= render "catalog_parts/catalog_part_toolbar" %>
                </div>
            </div>
            <%= render "shared/items_available" %>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
   <%= render 'shared/footer' %>
</div>

<div id="addToInventory" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="inventory-header" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="inventory-header">Add Part To Store Inventory</h3>
  </div>
  <% if current_user.try(:store).present? %>
    <%= form_for(@store_inventory_part, :url => add_part_to_inventory_path(current_user.store, @catalog_part)) do |f| %>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="quantity">Quantity</label>
        <div class="controls">
          <%= f.text_field :quantity, :class => "input-large" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="price">Price</label>
        <div class="controls">
          <%= f.text_field :price, :class => "input-large", :placeholder => "USD" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="condition">Condition</label>
        <div class="controls">
          <%= f.select(:condition, options_for_select(StoreInventoryPart::CONDITIONS, "New")) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="comment">Comment</label>
        <div class="controls">
          <%= f.text_area :comment, :class => "input-large" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success pull-left">Advanced Form</a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" type="submit">Add to Inventory</button>
    </div>
    <% end %>
  <% else %>
    <div class="modal-body">
    You must create a store to sell parts. It's quick, easy, and free.
    </div>
    <div class="modal-footer">
    <%= link_to new_store_path, :class => "btn btn-success" do %>
      <i class='icon icon-plus-sign'></i> Create a Store
    <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'shared/wishlist_modal', :item_id => @catalog_part.id, :item_type => @catalog_part.class.name.underscore %>
<% end %>
