<% provide(:title, "Store Inventory") %>
<div class="content">
  <%= render "shared/store_sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left"><%= image_tag @store.logo.url(:medium) %>&nbsp;&nbsp;<%= @store.name %></h2>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
        <%= render "shared/flash" %>
          <div class="row-fluid">
            <div class="span8">
              <div class="widget wblue">
                <div class="widget-head">
                 Shopping Cart
                  <div class="clearfix"></div>
                </div>
                  <div class="widget-content">
                    <table class="table table-hover">
                      <tbody>
                        <% @cart_items.each do |item| %>
                          <%= render "stores/inventory/cart_row", :item => item %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="widget-foot">
                    <h6 class="pull-left">Unique Items: <%= @cart.total_unique_items %> | Total Items: <%= @cart.total_items %></h6>
                    <h4 class="pull-right">Total: $<%= number_with_precision @cart.total_cost, :precision => 2 %></h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget-foot">
                    <%= link_to store_inventory_path(@store, :all) , :class => "btn pull-left" do %>
                      <i class="icon-chevron-left"></i> Continue Shopping
                    <% end %>
                    <%= link_to store_inventory_path(@store, :all) , :class => "btn btn-success pull-right" do %>
                    Checkout <i class="icon-chevron-right"></i>
                    <% end %>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <%= render "stores/shared/store_info", :store => @store %>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
</div>
