<% provide(:title, "Edit Store Settings") %>
<div class="content">
  <%= render "shared/store_admin_sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Edit Store Settings</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          Edit Store Settings
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left">Store Details</div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    <% if flash[:error].present? %>
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="alert alert-error">
                          <%= flash[:error] %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                      <div class="form profile">
                        <%= form_for(@store) do |f| %>
                        <div class="control-group">
                          <label class="control-label" for="store[name]">Store Name</label>
                          <div class="controls">
                            <%= f.text_field :name, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[alias]">Alias</label>
                          <div class="controls">
                            <%= f.text_field :alias, :class => "input-large" %><br/>
                            <span class="help-inline">Keep this short and without spaces, dashes, underscores, or special characters.<br/>This will serve as your Playmotrade subdomain (yourstore.playmotrade.com)</span>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[current_logo]">Current Logo</label>
                          <div class="controls">
                            <%= image_tag @store.logo.url(:medium) %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[logo]">Logo</label>
                          <div class="controls">
                            <%= f.file_field :logo, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[about]">About</label>
                          <div class="controls">
                            <%= f.text_area :about, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[landing_page]">Landing Page (accepts HTML)</label>
                          <div class="controls">
                            <%= f.text_area :landing_page, :class => "input-large tinymce" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <div class="controls">
                            <label class="checkbox inline">
                               <%= f.check_box :active %> Open?
                            </label>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[closed_message]">Closed Message</label>
                          <div class="controls">
                            <%= f.text_area :closed_message, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="store[bypass_password]">Break-in Password</label>
                          <div class="controls">
                            <%= f.text_field :bypass_password, :class => "input-large" %><br/>
                            <span class="help-inline">You can allow potential customers access to your closed store by giving them this password.</span>
                          </div>
                        </div>
                        <div class="form-actions">
                          <%= f.submit "Update Store", class: "btn btn-success" %>
                          <button type="reset" class="btn">Reset</button>
                        </div>
                      <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
</div>
<% content_for :script_files do %>
  <%= tinymce_assets %>
  <%= tinymce %>
<% end %>
