<% provide(:title, "Stores") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Stores</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Stores", stores_path %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
        <%= render "shared/flash" %>
          <div class="row-fluid">
            <div class="span12">
                <div class="widget wred">
                <div class="widget-head">
                  All Playmotrade Stores
                  <div class="clearfix"></div>
                </div>
                  <div class="widget-content">
                    <table class="table  table-bordered ">
                      <thead>
                        <tr>
                          <th>Store Name</th>
                          <th>Status</th>
                          <th>Owner</th>
                          <th>Location</th>
                          <th>Available Parts</th>
                          <th>Available Sets</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @stores.each do |store| %>
                        <tr>
                          <td>
                            <%= image_tag store.logo.url(:thumb) %>&nbsp;&nbsp;
                            <%= link_to store.name, root_url(:subdomain => store.alias) %>
                          </td>
                          <td><%= (store.active ? 'Open' : 'Closed') %></td>
                          <td>
                            <%= image_tag store.user.avatar.url(:small) %>&nbsp;&nbsp;
                            <%= link_to "#{store.user.first_name} #{store.user.last_name} [ #{store.user.username} ]", user_path(store.user) %>
                          </td>
                          <td>
                            <%= image_tag "/images/country_icons/#{store.user.country.id}.png" %>
                            <%= store.user.country.name %>
                          </td>
                          <td><%= store.store_inventory.total_parts %></td>
                          <td><%= store.store_inventory.total_sets %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                    <div class="widget-foot">
                      <%= will_paginate @users, :class => 'pagination pull-right' %>
                      <div class="clearfix"></div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <div class="clearfix"></div>
  <%= render 'shared/footer' %>
</div>
