- provide(:title, "Stores")
.content
  = render "shared/sidebar"
  .mainbar
    .page-head
      %h2.pull-left Stores
      .bread-crumb.pull-right
        = link_to root_path do
          %i.icon-home
          Home
        %span.divider /
        = link_to "Stores", stores_path
      .clearfix
    .matter
      .container-fluid
        = render "shared/flash"
        .row-fluid
          .span12
            .widget.wred
              .widget-head
                All Playmotrade Stores
                .clearfix
              .widget-content
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Store Name
                      %th Status
                      %th Owner
                      %th Location
                      %th Available Parts
                      %th Available Sets
                  %tbody
                    - @stores.each do |store|
                      - if store.user.present?
                        %tr
                          %td
                            = image_tag store.logo.url(:thumb)
                            &nbsp;&nbsp;
                            = link_to store.name, root_url(:subdomain => store.alias)
                          %td= (store.active ? 'Open' : 'Closed')
                          %td
                            = image_tag(store.user.avatar.url(:small))
                            &nbsp;&nbsp;
                            = link_to "#{store.user.first_name} #{store.user.last_name} [ #{store.user.username} ]", user_path(store.user)
                          %td
                            = image_tag "/images/country_icons/#{store.user.country.id}.png"
                            = store.user.country.name
                          %td= store.store_inventory.total_parts
                          %td= store.store_inventory.total_sets
              .widget-foot
                = will_paginate @users, :class => 'pagination pull-right'
                .clearfix
  .clearfix
  = render 'shared/footer'
