<% provide(:title, @store.name) %>
<div class="content">
  <% if @user_owned %>
  <%= render "shared/store_admin_sidebar", :locals => { :store => @store } %>
  <% else %>
    <%= render "shared/store_sidebar", :locals => { :store => @store } %>
  <% end %>
  <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left"><%= @store.name %></h2>
        <div class="clearfix"></div>
      </div>
  <div class="matter">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="widget wred">
            <div class="widget-head">
              <i class="icon-lock"></i> Store Closed
            </div>
            <div class="widget-content">
              <div class="padd error">
                <h4><%= @store.closed_message %></h4>
                <p>This store is currently closed. If the owner has given you the break-in password, enter it below. </p>
                <br />
                 <form method="get" id="searchform" action="<%= break_in_store_path(@store) %>" class="form-search">
                    <%= password_field_tag :break_in_password%>
                    <button type="submit" class="btn">Break In</button>
                 </form>
                 <br />
                 <div class="horizontal-links">
                  <a href="<%= root_url(:subdomain => "") %>">Playmotrade Home</a> | <a href="#">About This Store</a> | <a href="#">Contact Store Owner</a>
                 </div>
                </div>
              </div>
            <div class="widget-foot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
