<% provide(:title, "Edit Catalog Set") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Edit Catalog Set</h2>
       <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Catalog", catalog_index_path %>
          <span class="divider">/</span>
          <%= link_to "Catalog Sets", catalog_sets_path %>
          <span class="divider">/</span>
          <%= link_to @catalog_set.number, catalog_set_path(@catalog_set) %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <% if flash[:error].present? %>
          <div class="row-fluid">
            <div class="span12">
              <div class="alert alert-error">
                <%= flash[:error] %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="row-fluid">
            <div class="span6">
              <div class="widget worange">
                <div class="widget-head">
                  <div class="pull-left">Edit Catalog Set</div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    <div class="form quick-post">
                      <%= form_for @catalog_set, :html => {:class => "form-horizontal", :multipart => true} do |f| %>
                        <div class="control-group">
                          <label class="control-label" for="image">Image</label>
                          <div class="controls">
                            <%= f.file_field :image %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="back_image">Back Image</label>
                          <div class="controls">
                            <%= f.file_field :back_image %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="name">Name</label>
                          <div class="controls">
                            <%= f.text_field :name, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="number">Number</label>
                          <div class="controls">
                            <%= f.text_field :number, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="theme">Theme</label>
                          <div class="controls">
                            <%= f.text_field :theme, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="part_count">Part Count</label>
                          <div class="controls">
                            <%= f.text_field :part_count, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="figure_count">Figure Count</label>
                          <div class="controls">
                            <%= f.text_field :figure_count, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="release_date">Release Date</label>
                          <div class="controls">
                            <%= f.text_field :release_date, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="retire_date">Retire Date</label>
                          <div class="controls">
                            <%= f.text_field :retire_date, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="dimensions">Dimensions</label>
                          <div class="controls">
                            <%= f.text_field :dimensions, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="weight">Weight</label>
                          <div class="controls">
                            <%= f.text_field :weight, :class => "input-large" %>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="tags">Tags</label>
                          <div class="controls">
                            <%= f.text_field :tags, :value => @catalog_set.tags.map(&:name).join(', '), :class => "input-large" %>
                          </div>
                        </div>
                        <div class="form-actions">
                          <%= f.submit "Update", class: "btn btn-success" %>
                        </div>
                      <% end %>
                      </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
              <div class="span6">
                <div class="widget wlightblue">
                  <div class="widget-head">
                    <div class="pull-left">Current Catalog Set Values</div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget-content">
                    <%= image_tag @catalog_set.image.url(:large), :class => 'catalog-img' %>
                    <ul class="activity">
                      <li>
                        <strong>Name:</strong> <%= @catalog_set.name.to_s %>
                      </li>
                      <li>
                        <strong>Number:</strong> <%= @catalog_set.number.to_s %>
                      </li>
                      <li>
                        <strong>Theme:</strong> <%= @catalog_set.theme.to_s %>
                      </li>
                      <li>
                        <strong>Part Count:</strong> <%= @catalog_set.part_count.to_s %>
                      </li>
                      <li>
                        <strong>Figure Count:</strong> <%= @catalog_set.figure_count.to_s %>
                      </li>
                      <li>
                        <strong>Release Date:</strong> <%= @catalog_set.release_date.to_s %>
                      </li>
                      <li>
                        <strong>Retire Date:</strong> <%= @catalog_set.retire_date.to_s %>
                      </li>
                      <li>
                        <strong>Dimensions:</strong> <%= @catalog_set.dimensions.to_s %>
                      </li>
                      <li>
                        <strong>Weight:</strong> <%= @catalog_set.weight.to_s %>
                      </li>
                      <li>
                        <strong>Tags:</strong>
                        <% @catalog_set.tags.each do |tag| %>
                        <span class="label label-info"><%= tag.name %></span>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
   <%= render 'shared/footer' %>
</div>
