<% provide(:title, "Catalog Sets") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Catalog Sets</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Catalog", catalog_index_path %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <div class="widget-foot">
            <%= will_paginate @catalog_sets, :class => 'pagination pull-right' %>
            <div class="clearfix"></div>
          </div>
          <% @catalog_sets.in_groups_of(4, false) do |row| %>
            <div class="row-fluid">
              <% row.each do |catalog_set| %>
                <div class="span3">
                  <div class="widget wlightblue">
                    <div class="widget-head">
                      <h6><%= catalog_set.name %></h6>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <%= image_tag catalog_set.image.url(:medium), :class => 'catalog-img' %>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-foot">
                      <p class="pull-left"><%= catalog_set.number %></p>
                      <%= link_to "View", catalog_set_path(catalog_set), :class => 'btn pull-right btn-danger' %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="widget-foot">
            <%= will_paginate @catalog_sets, :class => 'pagination pull-right' %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
</div>
