<% provide(:title, "Catalog Set Inventory") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Catalog Set Inventory</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Catalog", catalog_index_path %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid">
                <div class="span2">
                  <%= link_to catalog_set_path(@catalog_set) do %>
                    <%= image_tag @catalog_set.image.url(:medium), :class => 'catalog-img' %>
                  <% end %>
                </div>
                <div class="span5">
                  <%= link_to catalog_set_path(@catalog_set) do %>
                    <%= @catalog_set.number %><br/>
                    <%= @catalog_set.name %>
                  <% end %>
                </div>
                <div class="span5">
                <div class="pull-right">
                  <% if @catalog_inventory.present? && @catalog_inventory.complete? %>
                  <span class="label label-success"><i class="icon-ok"></i> Complete</span>
                  <% else %>
                  <span class="label label-important"><i class="icon-remove"></i> Incomplete</span>
                  <% end %>
                  <% if @catalog_inventory.present? && @catalog_inventory.verified? %>
                  <span class="label label-success"><i class="icon-ok"></i> Verified</span>
                  <% else %>
                  <span class="label label-important"><i class="icon-remove"></i> Not Verified</span>
                  <% end %>
                </div>
                </div>
              </div>
              <% if @catalog_iventory_list.blank? %>
                <br/>
                <div class="alert alert-error">
                  There is currently no inventory data available for this set.
                </div>
              <% else %>
                <div class="widget wlightblue">
                  <div class="widget-content">
                    <table class="table table-bordered wlightblue" id="set-inventory">
                      <thead class="widget-head">
                        <tr>
                          <th>Image</th>
                          <th>Quantity</th>
                          <th>Color</th>
                          <th>Number</th>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @catalog_iventory_list.each do |part| %>
                        <tr>
                          <td>
                          <%= link_to catalog_part_path(part.catalog_part), :rel => 'popover', :class => 'part-preview', :"data-content" => "#{image_tag part.catalog_part.image.url(:medium).html_safe}" do %>
                            <%= image_tag part.catalog_part.image.url(:thumb) %>
                          <% end  %></td>
                          <td><%= part.quantity %></td>
                          <td><%= part.catalog_part.try(:color) %></td>
                          <td><%= link_to part.catalog_part.try(:number), catalog_part_path(part.catalog_part) %></td>
                          <td><%= link_to part.catalog_part.try(:name), catalog_part_path(part.catalog_part) %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
</div>
