%tr
  %td
    = link_to catalog_part_url(item.catalog_object, :subdomain => ""), :rel => 'popover', :class => 'part-preview', :"data-content" => "#{image_tag item.image(:medium).html_safe}" do
      = image_tag item.image
  %td
    %strong Condition:
    = item.condition
    %br
    %strong= item.name
    %br
    = item.number
  %td.text-right
    .text-right.store-prices
      %strong= item.quantity
      X
      = humanized_money_with_symbol(item.price, no_cents_if_whole: false)
      %br
      %strong Total: #{humanized_money_with_symbol(item.total, no_cents_if_whole: false)}
