.footer.container-fluid
  .row-fluid
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            %li.ngrey
              = link_to "Link", root_url
            %li.ngrey
              = link_to "Link", root_url
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            %li.ngrey
              = link_to "Link", root_url
            %li.ngrey
              = link_to "Link", root_url
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            %li.ngrey
              = link_to "Link", root_url
            %li.ngrey
              = link_to "Link", root_url
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            %li.ngrey
              = link_to "Link", root_url
            %li.ngrey
              = link_to "Link", root_url
