.footer.container-fluid
  .row-fluid
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            - footer_links('documentation', 2).each do |link|
              %li.ngrey
                = link_to link.title, page_url(link.slug)
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            - footer_links('blog', 2).each do |link|
              %li.ngrey
                = link_to link.title, page_url(link.slug)
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            - footer_links('general', 2).each do |link|
              %li.ngrey
                = link_to link.title, page_url(link.slug)
    .span3
      .padd
        .sidebar.sidebar-footer
          %ul.navi
            - footer_links('terms and service', 2).each do |link|
              %li.ngrey
                = link_to link.title, page_url(link.slug)
  %br.clearfix
  .row-fluid
    .span12
      %p
        %small
          = "©#{Time.now.strftime('%Y')} Playmotrade, LLC. All rights reserved."
          %br
          Some Playmobil sets contain small parts that are NOT suitable for and may pose a hazard to children under 3 years of age. Playmobil® is a trademark of Geobra Brandstätter GmbH & Co. KG which does not sponsor, authorize, or endorse this site. The trademarks PLAYMOBIL®, PLAYMOBIL® SYSTEM X, PLAYMOBIL® RC TRAIN and PLAYMOBIL® FUNPARK and the copyrighted images of PLAYMOBIL® products are the sole and exclusive property of Geobra Brandstätter GmbH & Co. KG, which reserves all rights therein. Use of this web site constitutes acceptance of the Terms Of Service agreement and Privacy Policy
