<div class="row-fluid">
  <div class="span12">
    <div class="widget worange">
      <div class="widget-head">
      Available for Sale
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <table class="table  table-bordered ">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Condition</th>
              <th>Name</th>
              <th>In Stock</th>
              <th>Price</th>
              <th>Store</th>
            </tr>
          </thead>
          <tbody>
            <% @available_for_sale.each do |item| %>
            <tr>
              <td><%= image_tag item.image(:small) %></td>
              <td><%= item.condition %></td>
              <td>
                <%= item.name %><br/>
                <%= item.comment %>
              </td>
              <td><%= item.quantity %></td>
              <td>$<%= number_with_precision item.price, :precision => 2 %></td>
              <td>
                <%= image_tag item.store.logo.url(:thumb) %>&nbsp;&nbsp;
                <%= link_to item.store.name, root_url(:subdomain => item.store.alias)%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <div class="widget-foot">
        <%= will_paginate @available_for_sale, :class => 'pagination pull-right' %>
          <div class="clearfix"></div>
        </div>
    </div>
  </div>
</div>
