.navbar.navbar-inverse
  .navbar-inner.no-border-navbar
    .container
      = link_to root_url(:subdomain => ""), :class => "brand" do
        = image_tag "/img/logo.png", :alt => "Playmotrade - Unofficial Playmobil Marketplace"
      .nav-collapse.collapse
        - if user_signed_in?
          %ul.nav.pull-right
            - if @cart.present?
              %li.dropdown
                %a{:class => "dropdown-toggle", :href => "#", "data-toggle" => "dropdown"}
                  %i.icon-shopping-cart
                  Cart
                  %span.badge.badge-info
                    = @cart.total_unique_items
                    |
                    $#{number_with_precision @cart.total_cost, :precision => 2}
                %ul.dropdown-menu
                  %li
                    = link_to(cart_store_path(@store)) do
                      %i.icon-shopping-cart
                      View Cart
                  %li
                    = link_to cart_checkout_url(@cart, :subdomain => nil, :protocol => "https") do
                      %i.icon-truck
                      Checkout
            %li.dropdown.pull-right
              %a{:class => "dropdown-toggle", :href => "#", "data-toggle" => "dropdown"}
                = image_tag current_user.avatar.url(:small)
                = current_user.username
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to(edit_user_registration_path) do
                    %i.icon-user
                    Edit Settings
                - if current_user.store.present?
                  %li
                    = link_to store_path(current_user.store) do
                      %i.icon-money
                      My Store
                %li
                  = link_to orders_path do
                    %i.icon-inbox
                    My Orders
                %li
                  = link_to carts_path do
                    %i.icon-shopping-cart
                    My Open Carts
                %li
                  = link_to wishlists_path do
                    %i.icon-list
                    My Wishlists
                %li
                  =link_to(destroy_user_session_path) do
                    %i.icon-off
                    Logout
        - else
          %ul.nav.pull-right
            %li
              = link_to(new_user_session_path) do
                %i.icon-lock
                Login
