 <div class="sidebar">
  <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

  <div class="sidebar-inner">

    <!-- Search form -->
    <div class="sidebar-widget">
      <form class="form-inline" method="get" action="/search">
        <div class="input-append row-fluid">
          <input name="q" type="text" class="span9" placeholder="Search Catalog">
          <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" ><i class="icon-angle-right"></i></button>
          </div>
        </div>
      </form>
    </div>

    <!--- Sidebar navigation -->
    <ul class="navi">

      <!-- Menu with sub menu -->
      <li class="has_submenu nlightblue <%= active_class([catalog_sets_path,catalog_parts_path])%>">
        <a href="#">
          <i class="icon-th"></i> Catalog 
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <li class="<%= sub_active_class(catalog_sets_path) %>"><%= link_to "Sets", catalog_sets_path %></li>
          <li class="<%= sub_active_class(catalog_parts_path) %>"><%= link_to "Parts", catalog_parts_path %></li>
          <li><a href="widgets2.html">Figures (Klickies)</a></li>
        </ul>
      </li>

      <li class="has_submenu nred">
        <a href="#">
          <i class="icon-money"></i> Buy
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <li><%= link_to "Browse Catalog", catalog_index_path %></li>
          <li><a href="login.html">My Orders</a></li>
          <li><a href="post.html">My Wishlist</a></li>
        </ul>
      </li> 

      <li class="has_submenu nviolet">
        <a href="#">
          <i class="icon-briefcase"></i> Sell
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>
        
        <ul>
          <li><a href="grid.html">My Store</a></li>
          <li><a href="gallery.html">Browse Stores</a></li>
          <li><a href="error.html">Create a Store</a></li> 
        </ul>
      </li>

      <li class="has_submenu ngreen">
        <a href="#">
          <i class="icon-gift"></i> Trade
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>
        
        <ul>
          <li><a href="error.html">Post an Item</a></li>
          <li><a href="gallery.html">My Trade List</a></li>
          <li><a href="grid.html">Available Items</a></li>
        </ul>
      </li>

      <li class="norange">
        <%= link_to users_path do %>
          <i class="icon-group"></i> Members
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        <% end %>
      </li> 

      <li class="nblue">
        <a href="#">
          <i class="icon-list-alt"></i> Forums
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>
      </li> 

    </ul>

  </div>

</div>