.sidebar
  .sidebar-inner
    .sidebar-widget
      %form.form-inline{:method => "get", :action => search_store_url(@store)}
        .input-append.row-fluid
          = text_field_tag :q, "", :class => "span10", :placeholder => "Search Store"
          .btn-group
            %button.btn.btn-info
              %i.icon-angle-right
    %ul.navi
      %li.nlightblue
        = link_to root_url(:subdomain => @store.alias) do
          %i.icon-home
          Store Home
          %span.pull-right
            %i.icon-angle-right
      %li.nred.open
        = link_to store_inventory_path(@store, :all)  do
          %i.icon-th
          Browse Inventory
          %span.pull-right
            %i.icon-angle-right
        %ul
          %li= link_to "All Parts", store_inventory_path(@store, :parts)
          %li= link_to "All Sets", store_inventory_path(@store, :sets)
          %li= link_to "On My Wishlist", store_wishlist_path(@store, @wishlist, 'all')
      = render "stores/shared/sidebar_inventory", :store => @store
