.span4
  .widget.wlightblue
    .widget-head
      .pull-left
        - if @store.sidebar_title.present?
          = @store.sidebar_title
        - else
          = @store.name
          Resources
      .clearfix
    .widget-content
      .sidebar.sidebar-right
        %ul.navi
          - if current_user.present?
            %li.ngrey
              = link_to new_message_path(recipient_id: @store.user.id, disposition: 'private') do
                Contact Owner
                %span.pull-right
                  %i.icon-angle-right
          - @store.pages.each do |page|
            %li.ngrey
              = link_to page_url(page.slug, :subdomain => @store.alias) do
                = page.title
                %span.pull-right
                  %i.icon-angle-right
    .widget-foot
      .clearfix

