<tr>
  <td><%= image_tag item.image %></td>
  <td>
    <strong>Condition:</strong> <%= item.condition %><br/>
    <strong><%= item.name %></strong><br/>
    <%= item.number %>
  </td>
  <td class="text-right">
    <div class="text-right store-prices">
      <strong><%= item.quantity %></strong> X <strong>$<%= number_with_precision item.price, :precision => 2 %></strong><br/>
      <strong>Total: $<%= number_with_precision item.total, :precision => 2 %></strong><br/>
      <%= link_to "Remove", remove_items_from_cart_path(@store, item), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
    </div>
  </td>
</tr>
