- provide(:title, "Orders")
.content
  - if @store.present?
    = render "shared/store_sidebar"
  - else
    = render "shared/sidebar"
  .mainbar
    .page-head
      %h2.pull-left
        Orders
        - if @store.present?
          = "in #{@store.name}"
      .bread-crumb.pull-right
        = link_to root_path do
          %i.icon-home
          Home
        %span.divider /
        = link_to "Orders", orders_path
      .clearfix
    .matter
      .container-fluid
        = render "shared/flash"
        .row-fluid
          %div{class: (@store.present? ? 'span8' : 'span12')}
            - if @orders.present?
              .widget.wblue
                .widget-head
                  Open Orders
                  .clearfix
                .widget-content
                  %table.table.table-bordered
                    %thead
                      %tr
                        %th Order ID
                        %th Status
                        %th Items
                        %th Subtotal
                        %th Shipping
                        %th Total
                      - @orders.each do |order|
                        = render "orders/shared/order_row", :order => order
                .widget-foot
                  = will_paginate @orders, :class => 'pagination pull-right'
                  .clearfix
            - else
              .alert.alert-error
                You have no orders in this store.
          - if @store.present?
            = render "stores/shared/store_info", :store => @store
  .clearfix
  = render 'shared/footer'
