- provide(:title, @page.title)
.content
  - if @page.site_page?
    = render "shared/sidebar", :store => @store
  - else
    = render "shared/store_sidebar", :store => @store
  .mainbar
    .page-head
      %h2
        %span.pull-left= @page.title
        - if can? :edit, @page
          %span.pull-right= link_to "Edit", edit_page_path(@page), :class => 'btn btn-warning'
      .clearfix
    .matter
      .container-fluid
        = render "shared/flash"
        .row-fluid
          .span12
            = @page.body.to_s.html_safe
          .clearfix
        - if @help_request.present?
          .row-fluid
            .span12
              = form_for(@help_request, :html => {:class => "form-horizontal"}) do |f|
                .control-group
                  %label.control-label{:for => "name"} Name
                  .controls
                    = f.text_field(:name)
                .control-group
                  %label.control-label{:for => "email"} Email
                  .controls
                    = f.text_field(:email)
                .control-group
                  %label.control-label{:for => "comment"} Comment
                  .controls
                    = f.text_area(:comment)
                .control-group
                  .controls
                    = recaptcha_tags
                .form-actions
                  = submit_tag("Submit", class: "btn btn-primary")
            .clearfix
  .clearfix
  = render 'shared/footer'
