.admin-form
  .container-fluid
    .row-fluid
      .span12
        .widget.worange
          .widget-head
            %i.icon-lock
            Login
          .widget-content
            .padd
              = form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-horizontal") do |f|
                .control-group
                  %label.control-label{:for => "email"} Email
                  .controls
                    = f.email_field :email, :autofocus => true
                .control-group
                  %label.control-label{:for => "password"} Password
                  .controls
                    = f.password_field :password
                - if devise_mapping.rememberable?
                  .control-group
                    %label.checkbox
                      = f.check_box :remember_me
                      Remember me
                %br
                = f.submit "Sign in", :class => "btn btn-danger"

          .widget-foot
            Not Registered?
            = link_to('Register Here', new_user_registration_path)
