<!-- Name -->
<div class="control-group">
  <label class="control-label" for="user[first_name]">First Name</label>
  <div class="controls">
    <%= f.text_field :first_name, :class => "input-large" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="user[last_name]">Last Name</label>
  <div class="controls">
    <%= f.text_field :last_name, :class => "input-large" %>
  </div>
</div>   
<!-- Email -->
<div class="control-group">
  <label class="control-label" for="user[email]">Email</label>
  <div class="controls">
    <%= f.email_field :email, :class => "input-large" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
</div>
<!-- Avatar -->
<div class="control-group">
  <label class="control-label" for="user[avatar]">Avatar</label>
  <div class="controls">
    <%= f.file_field :avatar, :class => "input-large" %>
  </div>
</div>
<!-- Telephone -->
<div class="control-group">
  <label class="control-label" for="user[telephone]">Telephone</label>
  <div class="controls">
    <%= f.telephone_field :telephone, :class => "input-large" %>
  </div>
</div>  
<!-- Address -->
<div class="control-group">
  <label class="control-label" for="user[address1]">Address 1</label>
  <div class="controls">
    <%= f.text_field :address1, :class => "input-large" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="user[address2]">Address 2</label>
  <div class="controls">
    <%= f.text_field :address2, :class => "input-large" %>
  </div>
</div>                           
<!-- Country -->
<div class="control-group">
  <label class="control-label">Country</label>
  <div class="controls">  
    <select name="user[country]">                            
     <%= render "shared/country_select" %>
    </select>
  </div>
</div>  
<!-- State -->
<div class="control-group">
  <label class="control-label" for="user[state]">State</label>
  <div class="controls">
    <%= f.text_field :state, :class => "input-large" %>
  </div>
</div>                                               
<!-- City -->
<div class="control-group">
  <label class="control-label" for="user[city]">City</label>
  <div class="controls">
    <%= f.text_field :city, :class => "input-large" %>
  </div>
</div>
<!-- Zip -->
<div class="control-group">
  <label class="control-label" for="user[zip]">Zip</label>
  <div class="controls">
    <%= f.text_field :zip, :class => "input-large" %>
  </div>
</div>   
<!-- About -->
<div class="control-group">
  <label class="control-label" for="user[about]">About</label>
  <div class="controls">
    <%= f.text_area :about, :class => "input-large" %>
  </div>
</div>
