<% provide(:title, "Wishlists") %>
<div class="content">
  <%= render "shared/sidebar" %>
    <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left">Wishlists</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a>
          <span class="divider">/</span>
          <%= link_to "Wishlists", wishlists_path %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="matter">
        <div class="container-fluid">
          <%= render "shared/flash" %>
          <div class="row-fluid">
            <div class="span8">
              <% if user_signed_in? %>
              <div class="widget wviolet">
                <div class="widget-head">
                  My Wishlists
                  <div class="clearfix"></div>
                </div>
                  <div class="widget-content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Number of Items</th>
                          <th>Created</th>
                          <th>Last Updated</th>
                          <th>Public</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @wishlists.each do |wishlist| %>
                        <tr>
                          <td><strong><%= link_to wishlist.name, wishlist_path(wishlist) %></strong></td>
                          <td><%= wishlist.wishlist_items.count %></td>
                          <td><%= wishlist.created_at.strftime("%m/%d/%Y")%></td>
                          <td><%= wishlist.updated_at.strftime("%m/%d/%Y") %></td>
                          <td>
                            <% if wishlist.public == true %>
                            <i class='icon-ok'></i>
                            <% else %>
                            <i class='icon-ban-circle'></i>
                            <% end %>
                          </td>
                          <td><%= link_to "Edit", edit_wishlist_path(wishlist), :class => "btn btn-primary" %></td>
                          <td>
                            <%= link_to wishlist_path(wishlist), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn", :id => wishlist  do %>
                              <i class='icon-trash'></i>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                    <div class="widget-foot">
                      <%= will_paginate @wishlists, :class => 'pagination pull-right', :param_name => 'my_page' %>
                      <div class="clearfix"></div>
                    </div>
                </div>
                <% end %>
                <div class="widget wviolet">
                  <div class="widget-head">
                    Public Wishlists
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget-content">
                    <table class="table table-bordered ">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Owner</th>
                          <th>Number of Items</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @public_wishlists.each do |wishlist| %>
                        <tr>
                          <td><strong><%= link_to wishlist.name, wishlist_path(wishlist) %></strong></td>
                          <td><%= wishlist.user.name %></td>
                          <td><%= wishlist.wishlist_items.count %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                    <div class="widget-foot">
                      <%= will_paginate @public_wishlists, :class => 'pagination pull-right', :param_name => 'public_page' %>
                      <div class="clearfix"></div>
                    </div>
                </div>
              </div>
              <div class="span4">
                <%= render "wishlists/wishlist_toolbar" %>
              </div>
          </div>
        </div>
      </div>
    </div>
   <div class="clearfix"></div>
</div>
