<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="/js/html5shim.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/img/favicon/favicon.png">
  <%= include_gon %>
</head>
<body>
<%= render "shared/main_menu" %>
<%= yield %>
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield :script_files %>
<%= yield :script %>
</body>
</html>
